<!--The content below is only a placeholder and can be replaced.-->
<div class="por_container" > 
	<div class="por_header">
		<img src='assets/download.jpeg' />
		<div class="por_section">
			<h1>Sagar rajak</h1>
			<p><strong>Frontend developer, Backend developer, 
				Full stack software engineer</strong>.</p>
			<div class="por_details">
				<h4>AGE:                  23</h4>
				<h4>PHONE NUMBER:         7750811799</h4>
				<h4>MAIL:                 sagarrajak858@gmail.com</h4>
			</div>
		</div>
	</div>	
</div>

